.user-edit {
  float: left;
  width: 600px;
  background-color: white;
  color: #414157;
  border-radius: 4px;
}

.account-edit-toggle {
  float: right;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  background: #5a5df9;
  color: white;
  width: auto;
  height:auto;
  font-size: inherit;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  margin: 20px;
}
