.blog .post_whole {
  width: calc(33% - 20px);
  height: auto;
  margin: 10px;
}

.blog .post_body {
  color: #414157;
  background: white;
  border-radius: 4px;
  height: auto;
}

.blog > .infinite {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.blog .post_body h2 {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.post_body p:not(:first-child) {
  min-width: 200px;
  margin: 0 20px;
}

p:first-child {
  padding: 10px 20px;
}

.blog > h1, .blog > h2 {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.blog_cover_pic {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.blog_profile_pic > .button_list {
  display: block;
}

.blog_profile_pic {
  display: block;
  padding: 35px 0;
  width: 200px;
  height: auto;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
