@font-face {
  font-family: "Vast Shadow";
  src: asset-url("VastShadow-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Hind";
  src: asset-url("Hind-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Hind";
  src: asset-url("Hind-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Hind";
  src: asset-url("Hind-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Hind";
  src: asset-url("Hind-Regular.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Hind";
  src: asset-url("Hind-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Sumana";
  src: asset-url("Sumana-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Sumana";
  src: asset-url("Sumana-Regular.ttf");
  font-weight: 400;
}
