.feed .post_whole {
  width: auto;
  height: auto;
  margin-top: 35px;
}

.feed .post_body {
  display: inline-block;
  width: 470px;
  color: #414157;
  background: white;
  border-radius: 4px;
}

.feed .post_body h2 {
  padding: 0 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}

.dashboard .post_body p {
  padding: 0 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
}

.post_body img {
  width: 100%;
  height: auto;
}

.post_body h3 {
  float: left;
  font-size: 16px;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  margin: 0;
}

.post_buttons {
  float: right;
  display: inline;
  width: calc(100% - 116px);
  height: auto;
  position: relative;
}

.post_edit {
  position: absolute;
  font-size: 24px;
  top: 5px;
  left: 15px;
  color: rgba(0, 0, 0, 0.7);
}

.post_edit:hover {
  color: #77779a;
  cursor: pointer;
}

.edit_post_buttons {
  position: relative;
  width: 100px;
  float: right;
}

.like, .unlike {
  font-size: 20px;
  float: right;
  margin: 5px 20px;
  transform: scaleX(1.2);
}

.like {
  color: rgba(0, 0, 0, 0.7);
}

.like:hover {
  color: #77779a;
}

.unlike {
  color: red;
}

.post_profile_pic {
  width: 66px;
  height: 66px;
  background-size: cover;
  margin: 0 25px;
  display: inline-block;
  position: relative;
}

.post_profile_pic > .follow,
.post_profile_pic > .unfollow {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  opacity: .6;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  left: 5px;
  top: 0;
  display: none;
  transform: scaleX(1.2);
  padding: 0 6px;
}

.post_profile_pic:hover {
  .follow,
  .unfollow {
    display: inline;
  }
}

.post_profile_pic > img {
  border-radius: 4px;
  display: inline;
  position: relative;
}

.feed {
  width: 700px;
  overflow: hidden;
}

footer {
  height: 100px;
}

.post_form_container.edit {
  margin-top: 35px;
}
