html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
  font-weight: inherit;
}

ul {
  list-style: none;
}

body {
  background: #46477e;
  color: white;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  box-sizing: content-box;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

button:hover{
  cursor: pointer;
}

/*clearfix*/
.group:after {
  clear: both;
  content: "";
  display: block;
}
