a {
  height: auto;
}

.auth {
  height: 100vh;
  // background-image: asset-url('welcome_background.gif');
  background-size: cover;
  overflow: hidden;
  padding: 0 15px;
  min-width: 475px;
  min-height: 300px;
  position: relative;
}

.bg-1 {
  background-image: asset-url('bg-1.gif');
}

.bg-2 {
  background-image: asset-url('bg-2.gif');
}

.bg-3 {
  background-image: asset-url('bg-3.gif');
}

.bg-4 {
  background-image: asset-url('bg-4.gif');
}

.bg-5 {
  background-image: asset-url('bg-5.gif');
}

.runtaoblr {
  font-size: 60px;
  font-family: 'Sumana', serif;
  font-weight: 700;
  padding: 0px;
  line-height: 60px;
  padding: 0 0 20px 0;
  text-align: center;
  opacity: 1;
}
.description {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.toggle_buttons, .log_out {
  float: right;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 18px;
  background: rgba(0, 0, 0, 0.7);
  opacity: .85;
  margin: 10px;
  border-radius: 5px;
}

.toggle_buttons:hover, .log_out:hover {
  background: rgba(0, 0, 0, 0.9);
  transition: background .5s ease;
}

.signin_form {
  background: rgba(0, 0, 0, 0.7);
  opacity: .85;
  padding: 30px 30px 40px 30px;
  width: 310px;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  height: auto;

  -webkit-animation-name: raiseForm;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
}

@-webkit-keyframes raiseForm {
  0% {
    -webkit-transform: translate(-185px, 40px);
  }
  100% {
    -webkit-transform: translate(-185px, 0px);
  }
}


.login-input {
  background: white;
  width: 66.6666%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #8d8a9c;
  border-radius: 3px;
  padding: 5px;
}

.submit {
  background: #4b4c83;
  width: 66.6666%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 6px;
  border-radius: 3px;
}

.submit:hover {
  background: rgba(0, 0, 0, 0.9);
  transition: background .5s ease;
}

.error_list {
  width: 66.6666%;
  margin: auto;
  text-align: center;
  color: #46477e;
}

.logo {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Vast Shadow";
  float: left;
  font-size: 60px;
  line-height: 60px;
  padding: 0 0 0 20px;
}
